# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
.Spotlight-V100
.Trashes

# VS Code
.vscode/
*.code-workspace

# JetBrains IDEs
.idea/
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
*~

# Environment variables
.env
.env.local
